{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% include "include/maps.html.twig" %}
{% include "include/mainPage.html.twig" %}
    
    
    <div class=" h-screen w-screen">
      <div id="map" class="z-20 w-full h-full"></div>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5t3C0OHeTuknC62DdKqOeqNPhMAhdITU&callback=initMap&libraries=&v=weekly"
      async>
    </script>


{% endblock %}
