{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% for lieu in lieux %}
        {% for annonce in lieu.getAnnonce %}
        {% endfor %}
    {% endfor %}
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5t3C0OHeTuknC62DdKqOeqNPhMAhdITU&callback=initMap&libraries=&v=weekly"
      async>
    </script>
{% endblock %}
