{% extends 'base.html.twig' %}

{% block title %}Edit Producteur{% endblock %}

{% block body %}
    <h1>Edit Producteur</h1>

    {{ include('producteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('producteur_index') }}">back to list</a>

    {{ include('producteur/_delete_form.html.twig') }}
{% endblock %}
