{% extends 'base.html.twig' %}

{% block title %}Edit Producteur{% endblock %}

{% block body %}
    <h1>Edit Producteur</h1>
    

    <a href="{{ path('producteur_index') }}">back to list</a>

{% endblock %}
