{# Zone Filtre#}
<div class="z-30 w-3/12 h-screen  shadow mx-auto rounded-2xl bg-gray-50 absolute right-0">
    <div  class="z-30 relative mx-auto"><i class="flex justify-center text-3xl">Filtres</i></div>
</div>