{% for message in app.flashes('alert') %}
            <div class="bg-gray-100 flex justify-center  align-top ">
            <div class="fixed">
                <div class="text-center w-56 m-6 p-6 bg-red-500 rounded-md ">
                    {{ message }}
                </div>
            </div>
            </div> 
{% endfor %}