{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
 <h1> Se connecter / s'inscrire </h1>

 <form method="POST">
    <div>
        <div>
            <label for="Email">Email</label>
            <input type="email" id="email" name="email" placeholder="Entrez un Email" required >
        </div>
        <div>
            <label for="pass">Email</label>
            <input type="password" id="pass" name="pass" required>
        </div>
        <div>
            <a href="#"> Mot de passe oublié </a>
        </div>
        <div>
            <input type="button" id="inscription" name="inscription" value="Inscription">

            <input type="button" id="connexion" name="connexion" value="Connexion">
        </div>
    </div>
 </form>
{% endblock %}