{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
 <h1> Se connecter </h1>

 <form method="POST" action="{{ path('login_security') }}">
    <div>
        <div>
            <label for="Mail">Email</label>
            <input type="mail" id="mail" name="mail" placeholder="Entrez un Email" required >
        </div>
        <div>
            <label for="pass">Mot de passe</label>
            <input type="password" id="pass" name="pass" required>
        </div>
        <div>
            <a href="#"> Mot de passe oublié </a>
        </div>
        <div>
            <button><a href="{{ path('register_security') }}"> Inscription </a></button>
            <input type="submit" id="connexion" name="connexion" value="Connexion">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('log_form') }}">
        </div>
    </div>
 </form>
{% endblock %}