{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
 <h1>S'inscrire </h1>

 <form method="POST" action="{{ path('register_security') }}">
    <div>
    <div>
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="Entrez un nom" required >
        </div>
        <div>
            <label for="prenom">Email</label>
            <input type="text" id="prenom" name="prenom" placeholder="Entrez un prenom" required >
        </div>
        <div>
            <label for="tel">Telephone</label>
            <input type="tel" id="tel" name="tel" placeholder="Entrez un telephone" required >
        </div>
        <div>
            <label for="Mail">Email</label>
            <input type="mail" id="mail" name="mail" placeholder="Entrez un Email" required >
        </div>
        <div>
            <label for="pass">Mot de passe</label>
            <input type="password" id="pass" name="pass" required>
        </div>
        <div>
            <label for="passConf">Confirmation du mot de passe</label>
            <input type="password" id="passconf" name="passConf" required>
        </div>
        
        <div>
            <input type="submit" id="inscription" name="inscription" value="Inscription">
            <input type="hidden" name="crsf_token" value="{{ csrf_token('login_form') }}">
        </div>
    </div>
 </form>
{% endblock %}