{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}



{% block body %}
    <h1>Ajouter annonce </h1>

 <form method="POST" action="{{ path('annonce_new') }}">
    <div>
    <div>
            <label for="creneauxDebut">Créneaux début</label>
            <input type="datetime-local" id="creneauxDebut" name="creneauxDebut" required >
        </div>
        <div>
            <label for="creneauxFin">Créneaux fin</label>
            <input type="datetime-local" id="creneauxFin" name="creneauxFin" required >
        </div>
        <div>
            <label for="libelleProduit">Libelle de votre produit</label>
            <input type="text" id="libelleProduit" name="libelleProduit" placeholder="Entrez un libelle" required >
        </div>
        <div>
            <label for="prixUnitaire">Prix unitaire de votre produit</label>
            <input type="number" step="0.01" id="prixUnitaire" name="prixUnitaire" required >
        </div>
        <div>
            <label for="quantite">Quantité</label>
            <input type="number" step="1" id="quantite" name="quantite" required>
        </div>
        <div>
            <label for="categorie">Categorie</label>
            <select name="categorie" id="categorie">
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.libelle }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="lieu">Coordonné Lieu</label>
            <input type="text" id="lieu" name="lieu" required>
        </div>
        <div>
            <label for="lieuNom">Nom Lieu</label>
            <input type="text" id="lieuNom" name="lieuNom" required>
        </div>
        <div>
            <label for="lieuDescription">Description Lieu</label>
            <input type="text" id="lieuDescription" name="lieuDescription" required>
        </div>
        
        <div>
            <input type="submit" id="inscription" name="inscription" value="Inscription">
        </div>
    </div>
 </form>

 {% include "include/retour.html.twig" %}

{% endblock %}
